{
    "responseData": {
        "cursor": {
            "currentPageIndex": 0,
            "estimatedResultCount": "570000",
            "moreResultsUrl": "http://www.google.com/search?oe=utf8&ie=utf8&source=uds&start=0&safe=off&hl=en&q=%E5%A6%B9%E7%BA%B8",
            "pages": [
                {
                    "label": 1,
                    "start": "0"
                },
                {
                    "label": 2,
                    "start": "4"
                },
                {
                    "label": 3,
                    "start": "8"
                },
                {
                    "label": 4,
                    "start": "12"
                },
                {
                    "label": 5,
                    "start": "16"
                },
                {
                    "label": 6,
                    "start": "20"
                },
                {
                    "label": 7,
                    "start": "24"
                },
                {
                    "label": 8,
                    "start": "28"
                }
            ],
            "resultCount": "570,000",
            "searchResultTime": "0.12"
        },
        "results": [
            {
                "GsearchResultClass": "GwebSearch",
                "cacheUrl": "http://www.google.com/search?q=cache:HPObw5QO2XkJ:baike.baidu.com",
                "content": "\u8bcd\u8bed<b>\u59b9\u7eb8</b>\u3002\u6e90\u81ea\u6e56\u5357\u3001\u6cb3\u5357\u8bdd\u201c\u59b9\u5b50\u201d\u7684\u8c10\u97f3\u3002\u4ece2011\u5e74\u521d1\u6708\u5de6\u53f3\u5f00\u59cb\u51fa\u73b0\u3002\u5b83\u7684\u51fa\u73b0  \u53ef\u80fd\u8ddf\u201c\u80bf\u4e48\u4e86\u201d\u201c\u6709\u6728\u6709\u201d\u8fd9\u7c7b\u7684\u8c10\u97f3\u8bdd\u8bed\u6709\u5173\u7cfb\u3002\u4e5f\u53ef\u80fd\u8ddf\u67d0\u4e9bGAL\u6e38\u620f\u4e2d\u7684\u201c\u59b9\u6c41\u201d <b>...</b>",
                "title": "<b>\u59b9\u7eb8</b>_\u767e\u5ea6\u767e\u79d1",
                "titleNoFormatting": "\u59b9\u7eb8_\u767e\u5ea6\u767e\u79d1",
                "unescapedUrl": "http://baike.baidu.com/view/5278191.htm",
                "url": "http://baike.baidu.com/view/5278191.htm",
                "visibleUrl": "baike.baidu.com"
            },
            {
                "GsearchResultClass": "GwebSearch",
                "cacheUrl": "http://www.google.com/search?q=cache:DOqpzHuvDDcJ:v.youku.com",
                "content": "\u8ba9\u6240\u6709\u7537\u6027\u7403\u8ff7\u90fdhold\u4e0d\u4f4f\u7684<b>\u59b9\u7eb8</b>\uff01\u9047\u5230\u4f60\u5c31\u5a36\u4e86\u5427\u72c2\u70ed\u7403\u8ff7\u548c\u771f\u5fc3\u597d<b>\u59b9\u7eb8</b>\u7684\u6545\u4e8b\u3002  \u7403\u8ff7\u5f80\u5f80\u4e3a\u4e86\u8db3\u7403\u4e0d\u7406<b>\u59b9\u7eb8</b>\uff0c<b>\u59b9\u7eb8</b>\u5374\u7528\u771f\u5fc3\u884c\u52a8\u4e3a\u7403\u8ff7\u6253\u9020\u597d\u7684\u770b\u7403\u73af\u5883\uff0c\u6709\u7f8e\u5473 <b>...</b>",
                "title": "\u8ba9\u6240\u6709\u7537\u6027\u7403\u8ff7\u90fdhold\u4e0d\u4f4f\u7684<b>\u59b9\u7eb8</b>\uff01\u9047\u5230\u4f60\u5c31\u5a36\u4e86\u5427\u2014\u5728\u7ebf\u64ad\u653e <b>...</b> - \u4f18\u9177",
                "titleNoFormatting": "\u8ba9\u6240\u6709\u7537\u6027\u7403\u8ff7\u90fdhold\u4e0d\u4f4f\u7684\u59b9\u7eb8\uff01\u9047\u5230\u4f60\u5c31\u5a36\u4e86\u5427\u2014\u5728\u7ebf\u64ad\u653e ... - \u4f18\u9177",
                "unescapedUrl": "http://v.youku.com/v_show/id_XMzA1NDI2MDI4.html",
                "url": "http://v.youku.com/v_show/id_XMzA1NDI2MDI4.html",
                "visibleUrl": "v.youku.com"
            },
            {
                "GsearchResultClass": "GwebSearch",
                "cacheUrl": "http://www.google.com/search?q=cache:Pm2u41gjf14J:v.youku.com",
                "content": "2013\u5e741\u670813\u65e5 <b>...</b> \u90fd\u662f\u527d\u608d\u6d3e\uff01\u90fd\u662f\u8981\u9006\u5929\uff01\u90fd\u6765\u9707\u4e09\u89c2\uff01\u611f\u89c9\u597d\u7d2f\uff0c\u89c9\u5f97\u518d\u4e5f\u4e0d\u76f8\u4fe1\u8fd9\u4e2a\u4e16\u754c\u4e86\uff01\u6700  \u4e0d\u9760\u8c31\u4eba\u7c7b\u7ec8\u4e8e\u51fa\u52a8\u4e86\u3002\u3002\u3002\u3002\u3002\u8fd9\u5e2e<b>\u59b9\u7eb8</b>\u90fd\u5728\u671d\u9c9c\u53d7\u8fc7\u7279\u8bad\u5417\uff1f",
                "title": "\u3010\u592a\u527d\u608d\u4e86\uff01\u3011\u8fd9\u4e9b<b>\u59b9\u7eb8</b>\u90fd\u6253\u9e21\u8840\u4e86\uff0c\u7b11\u62bd\u8fc7\u53bb\u4e86~~\u4e39\u4e1c\u963f\u91cc\u90ce\u98ce\u91c7\u5c55\u793a <b>...</b>",
                "titleNoFormatting": "\u3010\u592a\u527d\u608d\u4e86\uff01\u3011\u8fd9\u4e9b\u59b9\u7eb8\u90fd\u6253\u9e21\u8840\u4e86\uff0c\u7b11\u62bd\u8fc7\u53bb\u4e86~~\u4e39\u4e1c\u963f\u91cc\u90ce\u98ce\u91c7\u5c55\u793a ...",
                "unescapedUrl": "http://v.youku.com/v_show/id_XNTAxODE2NzE2.html",
                "url": "http://v.youku.com/v_show/id_XNTAxODE2NzE2.html",
                "visibleUrl": "v.youku.com"
            },
            {
                "GsearchResultClass": "GwebSearch",
                "cacheUrl": "http://www.google.com/search?q=cache:k6OAoOvfSccJ:weibo.com",
                "content": "\u53cc\u53cc<b>\u59b9\u7eb8</b>. http://weibo.com/shuang5403. \u3010\u3002.. \u8c01\u90fd\u4e0d\u8981\u8868\u73b0\u5f97\u8ddf\u59d0\u5f88\u719f\u59d0\u8ddf\u81ea\u5df1\u90fd  \u4e0d\u592a\u719f..\u3002\u3011 |\u5e7f\u897f. \u5e73\u9762\u6a21\u7279\uff0c\u300a\u745e\u4e3d\u300b\u300a\u7c73\u5a1c\u300b\u300a\u5361\u5a1c\u300b\u7b49\u56fd\u5185\u77e5\u540d\u6742\u5fd7\u5408\u4f5c\u6a21\u7279 <b>...</b>",
                "title": "\u53cc\u53cc<b>\u59b9\u7eb8</b>\u7684\u5fae\u535a\u65b0\u6d6a\u5fae\u535a-\u968f\u65f6\u968f\u5730\u5206\u4eab\u8eab\u8fb9\u7684\u65b0\u9c9c\u4e8b\u513f",
                "titleNoFormatting": "\u53cc\u53cc\u59b9\u7eb8\u7684\u5fae\u535a\u65b0\u6d6a\u5fae\u535a-\u968f\u65f6\u968f\u5730\u5206\u4eab\u8eab\u8fb9\u7684\u65b0\u9c9c\u4e8b\u513f",
                "unescapedUrl": "http://weibo.com/shuang5403",
                "url": "http://weibo.com/shuang5403",
                "visibleUrl": "weibo.com"
            }
        ]
    },
    "responseDetails": null,
    "responseStatus": 200
}
